.align-center {
    align-items: center;
    justify-content: center;
}

.text-align-center {
    text-align: center
}

.card-size {
    width: 500px;
    margin-left: 28%;
}

.color-black {
    color: #000000;
    text-align: center;
}

.text-capitalize {
    text-transform: capitalize;
}

.medep-kanan-index{
    float: right;
    margin-top: -20%;
}
