.green {color: #44a1a9}

.img-size{
    width: 350px;
    height: 350px;
}

.button-size {
    width: 200px;
}

.body-background {
  padding-top: 50px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table-1 {
    padding: 5px;
    color: #44a1a9;
    background-color: #fff;
}

.medep-kanan {
    float: right
}